{% extends 'base.html' %}
{% block title %} Nuevo articulo {% endblock %}

{% block content %}

<main>
    <section id="contact" class="light-bg">
        <div class="container inner-top-sm inner-bottom justify-content-center">
            <div class="custom-article-container custom-extra-padding">
            
                <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Editar</span> articulo</span></h3>
                <form action='' class="nk-form" method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <div class="col">
                            <input type='submit' class="btn btn-primary" value='Enviar'>
                        </div>
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div><br>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>


{% endblock %}