{% extends 'base.html' %}
{% block title %} Nuevo articulo {% endblock %}

{% block content %}

<main>
    <section id="contact" class="light-bg">
        <div class="container inner-top-sm inner-bottom justify-content-center">
            <div class="custom-article-container custom-extra-padding">
            
                <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Nuevo</span> articulo</span></h3>
                <form action='' class="nk-form" method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                        <div class="col" style="padding-left: inherit;">
                            <input type='submit' class="nk-btn nk-btn-rounded nk-btn-color-main-1" value='Enviar'>
                        </div>
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div><br>
                        {% endif %}
                    </div>
                </form>
                <script>
                    CKEDITOR.replace('message');
                    CKEDITOR.config.allowedContent = true;
                    CKEDITOR.config.removeFormatAttributes = '';
                    CKEDITOR.config.resize_dir = 'both';
                </script>
            </div>
        </div>
    </section>

</main>


{% endblock %}