{% extends 'base.html' %}
{% block title %} Nuevo articulo {% endblock %}

{% block content %}

<main>
    <section id="contact" class="light-bg">
        <div class="container inner-top-sm inner-bottom d-flex justify-content-center">
            <div class="col-lg-6 custom-container">
                <form action='' class="nk-form" method='POST'>{% csrf_token %}
                    <h1>Crear un artículo nuevo</h1>
                    {{ form }}
                    <br>
                    <small>Todos los campos obligatorios</small>
                    <input type='submit' class="btn btn-primary" value='Enviar'>
                </form>
            </div>
        </div>
    </section>

</main>


{% endblock %}