                            {% extends 'base-error.html' %}
                            {% block title %} Error 403 {% endblock %}

                            {% block content %}

                            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                                <h1 class="text-main-1" style="font-size: 150px;">403</h1>
                                <div class="nk-gap"></div>
                                <h2 class="h4">Acceso restringido.</h2>
                                <div>Intenta volviendo al inicio o <a href="{% url 'login' %}">iniciando sesi&oacute;n</a>.</div>
                                <div class="nk-gap-3"></div>
                                <a href="/" class="nk-btn nk-btn-rounded nk-btn-color-white">Regresar al inicio</a>
                            </div>

                            {% endblock %}
                            